<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href='{% static "css/skel.css" %}' />
			<link rel="stylesheet" href='{% static "css/style.css" %}' />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">
	    
		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
					<h1><a href="#" id="logo">UNIFRANZ</a></h1>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li></li>
								<li>
<ul>
		    <li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="">Phasellus consequat</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
								  </ul>
							  </li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</nav>


					<!-- Banner -->
						<div id="banner">
							<div class="container">
							  <section>
								<header class="major">
									  <h2>INGENIERIA DE SOTWARE</h2>
									  <span class="byline">&hellip; 
									  Es una disiplina que comprende todo los aspectos de la produccion de software desde las etapas iniciales de la especificacion del sistema, hasta el mantenimiento de este despues que se utiliza &ndash; .!</span>
									</header>
</section>			
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Definiciones</h2>
						<span class="byline"></span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="images/pic02.jpg" alt=""></a>
							<p>Es un conjunto de elementos interrelacionados entre si, que tienen un objetivo en comun.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="images/pic03.jpg" alt=""></a>
							<p>La ingenieria de sistemas consiste en la actividad de especificar, diseñar, implementar, distribuir y mantener sistemas como un todo.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="images/pic04.jpg" alt=""></a>
							<p>Es un conjunto de programas de computo, documentos asociados y esquemas de configuracion para que estos programas operen.</p>
						</section>
	
					</div>
				</section>
			</div>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<section class="container">
					<header class="major">
						<h2>Datos </h2>
						<span class="byline"> </span>
					</header>
					<div class="row">
					
						<!-- Content -->
							<div class="6u">
								<section>
									<ul class="style">
										<li>
											<span class="fa fa-wrench"></span>
											<h3>ESTUDIANTE</h3>
											<span>Daniel Marcelo Mamani Mamani.</span>
										</li>
										<li>
											<span class="fa fa-cloud"></span>
											<h3>CORREO</h3>
											<span>danmm321@gmail.com.</span>
										</li>
									</ul>
								</section>
							</div>
							<div class="6u">
								<section>
									<ul class="style">
										<li>
											<span class="fa fa-cogs"></span>
											<h3>CARRERA</h3>
											<span>Ingenieria de Sistemas</span>
										</li>
										<li>
											<span class="fa fa-leaf"></span>
											<h3>DOCENTE</h3>
											<span>Felix Erick Troche.</span>
										</li>
									</ul>
								</section>
							</div>

					</div>
				</section>
			</div>

		<!-- Footer -->			<div id="footer">
				<div class="container">

					<!-- Lists -->
						

					<!-- Copyright -->
						<div class="copyright">
							Autor: Daniel Mamani Mamani
						</div>

				</div>
			</div>
    

	</body>
</html>